# imports

In [1]:
import geopandas as gpd
import pandas as pd
import shapely as sp
import pygeos as pg
import numpy as np
from sqlalchemy import create_engine
import os
from getpass import getpass

/tmp/ipykernel_5360/3760985928.py:1: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [2]:
user = getpass()
password = getpass()

 ········
 ········

In [3]:
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/gis')

# data

In [ ]:
uprn = pd.read_csv('/home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/osopenuprn_202204_csv/osopenuprn_202203.csv')

In [17]:
conn = engine.raw_connection()
cursor = conn.cursor()
sql = """CREATE SCHEMA os;"""
cursor.execute(sql)
conn.commit()
conn.close()

In [18]:
uprn.head(0).to_sql('os_open_uprn', 
                con=engine, 
                schema='os', 
                if_exists='replace', 
                method='multi', 
                index=False)

0

In [19]:
cd = f"""
psql "postgresql://{user}:{password}@localhost:5432/gis" -c "\COPY os.os_open_uprn FROM '/home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/osopenuprn_202204_csv/osopenuprn_202203.csv' DELIMITER ',' CSV HEADER";  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" /home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/codepo_gpkg_gb/data/codepo_gb.gpkg -nln "codepoint_points";  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" /home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/bdline_gpkg_gb/Data/bdline_gb.gpkg district_borough_unitary -nln "local_authorities";
    """
print(os.popen(cd).read())

COPY 39919220

In [21]:
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    ALTER TABLE os.os_open_uprn ADD COLUMN geom geometry('POINT', 27700);
    
    UPDATE os.os_open_uprn SET geom = ST_SetSRID(ST_Point("X_COORDINATE","Y_COORDINATE"), 27700);
    
    CREATE INDEX uprn_gix ON os.os_open_uprn USING GIST(geom);
    
    DROP TABLE IF EXISTS os.open_uprn_white_horse ;
    
    SELECT
        A.*
    INTO
        os.open_uprn_white_horse
    FROM
        os.os_open_uprn A,
        os.local_authorities B
    WHERE
        B.name = 'Vale of White Horse District'
        AND ST_intersects(A.geom, B.geometry);
    
    CREATE INDEX uprn_wh_gis ON os.open_uprn_white_horse USING gist(geom);
    
    DROP TABLE IF EXISTS os.code_point_open_white_horse;
    
    SELECT
        A.*
    INTO
        os.code_point_open_white_horse
    FROM
        os.codepoint_points A,
        os.local_authorities B
    WHERE
        B.name = 'Vale of White Horse District'
        AND ST_intersects(A.geom, B.geometry);
    
    CREATE INDEX cp_wh_gis ON os.code_point_open_white_horse USING gist(geom);"""

cursor.execute(sql)
conn.commit()
conn.close()

In [4]:
results = []

# SQL nearest neighbour (distinct)

In [4]:
t1 = pd.Timestamp.now()
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn;
    WITH knn AS (
        SELECT DISTINCT ON (A."UPRN")
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A,
            os.code_point_open_white_horse as B
        WHERE
            ST_DWithin(A.geom, B.geom, 5000)
        ORDER BY
            A."UPRN",
            ST_Distance(A.geom, B.geom) ASC,
            B."postcode"
    )
    SELECT * INTO os.knn FROM knn 
"""
cursor.execute(sql)
conn.commit()
conn.close()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:02:57.778057')

In [5]:
results.append(
    {'test' : 'SQL distinct 16GB', 'time': pd.Timedelta('0 days 00:02:57.778057'), 'multiple equally distant results': False, 'able to sort equally distant': True})
results.append(
    {'test' : 'SQL distinct 2GB', 'time': pd.Timedelta('0 days 00:03:8'), 'multiple equally distant results': False, 'able to sort equally distant': True})

# SQL nearest neighbour (lateral)

In [6]:
t1 = pd.Timestamp.now()
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn_l;
    WITH knn AS (
        SELECT 
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A
        CROSS JOIN LATERAL (
            SELECT
                B."postcode",
                B.geom
            FROM
                os.code_point_open_white_horse as B
            WHERE
                ST_DWithin(A.geom, B.geom, 5000)
            ORDER BY
                ST_Distance(A.geom, B.geom) ASC,
                B."postcode"
            LIMIT
                1   
        ) B
        ORDER BY
            A."UPRN"
    )
    SELECT * INTO os.knn_l FROM knn 
"""
cursor.execute(sql)
conn.commit()
conn.close()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:51.453319')

In [6]:
results.append({'test' : 'SQL lateral 16GB', 'time': pd.Timedelta('0 days 00:00:51'), 'multiple equally distant results': False, 'able to sort equally distant': True})
results.append({'test' : 'SQL lateral 2GB', 'time': pd.Timedelta('0 days 00:00:51'), 'multiple equally distant results': False, 'able to sort equally distant': True})

In [10]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

sql = """SELECT * FROM os.knn_l"""
data2 = pd.read_sql(sql, engine)

data3 = pd.merge(data, data2, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, destination_y, distance_y]
Index: []

# Geopandas sjoin_nearest

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [9]:
t1 = pd.Timestamp.now()
knn = (
    uprn.sjoin_nearest(codepoint, max_distance=5000, distance_col='distance')
    .rename(columns = {'UPRN': 'origin', 'postcode': 'destination'})
    .sort_values(['origin', 'destination'])
    .drop_duplicates(subset='origin')
      )
t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:00.831490')

In [7]:
results.append(
    {'test' : 'Geopandas sjoin_nearest', 'time': pd.Timedelta('0 days 00:00:01.074799'), 'multiple equally distant results': True, 'able to sort equally distant': True})

In [11]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance_x, geom, index_right, destination_y, distance_y]
Index: []

# python nearest neighbour - shapely (all vs all)

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [13]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb, maxdist):
    
    #combine, filter, compute distance, select nearest

    combinations = [
        geomb[geomb.intersects(i.buffer(maxdist))].distance(i).idxmin()
        for i in geoma
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.items()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest

In [ ]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry, 5000)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

In [8]:
results.append(
    {'test' : 'Shapely all vs all', 'time': pd.Timedelta('0 days 00:06:42.439090'), 'multiple equally distant results': False, 'able to sort equally distant': True})

In [29]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python nearest neighbour - shapely (strtree)

In [15]:
from shapely.strtree import STRtree

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [46]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    #origin
    origin_id = [i[0] for i in geoma.items()]
    #tree
    geomb = geomb.to_list()
    tree = STRtree(geomb)
    nearest = [tree.nearest(i) for i in geoma]
    #merging
    combinations = pd.Series(geomb).iloc[nearest]

    nearest = pd.DataFrame(
        {
            'origin': origin_id,
            'destination': combinations.index.to_list(),
            'distance': [i.distance(combinations.iloc[n]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest

In [47]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:07.613455')

In [9]:
results.append(
    {'test' : 'Shapely strtree', 'time': pd.Timedelta('0 days 00:00:07.61'), 'multiple equally distant results': False, 'able to sort equally distant': False})

In [49]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

             origin destination_x  distance destination_y  distance (m)
176     10014020713       OX110GH     15.62       OX110GL     15.620499
1553    10014022326       OX110GH    149.28       OX110GL    149.281613
2905    10014023853       OX122DA     34.00       OX129FH     34.000000
3579    10014024605       OX141RA     96.02       OX141RB     96.020831
4864    10014025987       OX142EA      0.00       OX143PS      0.000000
...             ...           ...       ...           ...           ...
80596  100121313494       OX135JB     38.83       OX149GQ     38.832976
80597  100121313495       OX135JB     38.63       OX149GQ     38.626416
80628  100121313535       OX135JB     33.42       OX149LZ     33.421550
80737  100121313667       OX135JB     49.34       OX149GQ     49.335586
81942  200001511273       OX141RA      0.00       OX141RB      0.000000

[168 rows x 5 columns]

In [50]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['distance']!=data3['distance (m)'].round(2)]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python pygeos (all vs all)

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [52]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #combine, filter, compute distance, select nearest

    combinations = [
        np.argmin(pg.measurement.distance(i, geomb2))
        for i in geoma2
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.iteritems()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest

In [53]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

/tmp/ipykernel_4301/686746402.py:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  'origin': [i[0] for i in geoma.iteritems()],

Timedelta('0 days 00:01:25.844547')

In [10]:
results.append(
    {'test' : 'Pygeos all vs all', 'time': pd.Timedelta('0 days 00:01:25.121942'), 'multiple equally distant results': False, 'able to sort equally distant': True})

In [55]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# python pygeos (strtree) nearest

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [57]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #tree
    tree = pg.STRtree(geomb2)
    nearest = tree.nearest(geoma2)
    distance = pg.measurement.distance(geoma2, geomb2[nearest[1]])
    
    
    nearest = pd.DataFrame(
        {
            'origin': nearest[0],
            'destination': nearest[1],
            'distance': distance
        }
    )
                    
    return nearest

In [58]:
t1 = pd.Timestamp.now()

#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:01.673760')

In [11]:
results.append(
    {'test' : 'Pygeos strtree', 'time': pd.Timedelta('0 days 00:00:02.376158'), 'multiple equally distant results': False, 'able to sort equally distant': False})

In [60]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

             origin destination_x  distance destination_y  distance (m)
284     10014020855       SN7 8BT      0.00       SN7 8BU      0.000000
2166    10014023043       SN7 8BT     72.62       SN7 8BU     72.615425
2905    10014023853       OX122DA     34.00       OX122EH     34.000000
4732    10014025849       SN7 8BT     60.13       SN7 8BU     60.133186
4733    10014025850       SN7 8BT    199.49       SN7 8BU    199.491854
...             ...           ...       ...           ...           ...
80274  100121313002       OX143PZ    126.40       OX143YP    126.400158
80579  100121313474       OX135JB     43.83       OX136WN     43.827107
80596  100121313494       OX135JB     38.83       OX136XR     38.832976
80597  100121313495       OX135JB     38.63       OX136XR     38.626416
80737  100121313667       OX135JB     49.34       OX136XR     49.335586

[202 rows x 5 columns]

In [61]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['distance']!=data3['distance (m)'].round(2)]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# sklearn example

In [62]:
from sklearn.neighbors import NearestNeighbors

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.read_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = gpd.read_postgis(sql, engine, geom_col='geom')

In [64]:
t1 = pd.Timestamp.now()

#get coordinates from geodataframes
uprn_xy = list(zip(uprn.geometry.x, uprn.geometry.y))
codep_xy =  list(zip(codepoint.geometry.x, codepoint.geometry.y))

#get indexes for nearest neighbour
neigh = NearestNeighbors(n_neighbors=1, radius=5000)
neigh.fit(codep_xy)
knn = neigh.kneighbors(uprn_xy)

#get values for indexes
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[[i[0] for i in knn[1]]]['postcode'].to_list(),
    distance = knn[0]
    )
knn.columns = ['origin', 'destination', 'distance (m)']

t2 = pd.Timestamp.now()
dt = t2-t1
dt

Timedelta('0 days 00:00:00.194680')

In [12]:
results.append(
    {'test' : 'Sklearn nearest neighbour', 'time': pd.Timedelta('0 days 00:00:00.142799'), 'multiple equally distant results': False, 'able to sort equally distant': False})

In [66]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

             origin destination_x  distance destination_y  distance (m)
176     10014020713       OX110GH     15.62       OX110GL     15.620499
284     10014020855       SN7 8BT      0.00       SN7 8BU      0.000000
981     10014021676       OX143ER     34.93       OX143HU     34.928498
1553    10014022326       OX110GH    149.28       OX110GL    149.281613
2166    10014023043       SN7 8BT     72.62       SN7 8BU     72.615425
...             ...           ...       ...           ...           ...
80596  100121313494       OX135JB     38.83       OX149EY     38.832976
80597  100121313495       OX135JB     38.63       OX149EY     38.626416
80628  100121313535       OX135JB     33.42       OX149EY     33.421550
80737  100121313667       OX135JB     49.34       OX149LW     49.335586
81942  200001511273       OX141RA      0.00       OX141RB      0.000000

[207 rows x 5 columns]

In [67]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['distance']!=data3['distance (m)'].round(2)]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance (m)]
Index: []

# pyspark

In [5]:
#add index
#apply sedonafunction
#foreach partition shapely tree
#with column udf

In [6]:
from pyspark.sql import SparkSession
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from sedona.register import SedonaRegistrator

In [7]:
spark = (SparkSession
    .builder 
    .master("local[*]")       
    .config("spark.serializer", KryoSerializer.getName)
    .config("spark.kryo.registrator", SedonaKryoRegistrator.getName)
    .config('spark.jars.packages',
            'org.postgresql:postgresql:42.2.18,'
            'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.3.0-incubating,'
            'org.datasyslab:geotools-wrapper:1.3.0-27.2')
    # .config(
    #       "spark.driver.extraClassPath",
    #       "/home/cpadron/onedrive/local_projects/spark_jar/postgresql-42.2.18.jar"
    # )  
    .getOrCreate()
)

22/12/29 17:12:02 WARN Utils: Your hostname, bjorn resolves to a loopback address: 127.0.1.1; using 192.168.0.14 instead (on interface wlp3s0)
22/12/29 17:12:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/carlos/.ivy2/cache
The jars for the packages stored in: /home/carlos/.ivy2/jars
org.postgresql#postgresql added as a dependency
org.apache.sedona#sedona-python-adapter-3.0_2.12 added as a dependency
org.datasyslab#geotools-wrapper added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-abe53f9c-fad8-43e0-9c32-15df2fee161e;1.0
	confs: [default]
	found org.postgresql#postgresql;42.2.18 in central
	found org.checkerframework#checker-qual;3.5.0 in central
	found org.apache.sedona#sedona-python-adapter-3.0_2.12;1.3.0-incubating in central
	found org.locationtech.jts#jts-core;1.18.2 in central
	found org.wololo#jts2geojson;0.16.1 in central
	found org.apache.sedona#sedona-core-3.0_2.12;1.3.0-incubating in central
	found org.apache.sedona#sedona-common;1.3.0-incubating in central
	found org.scala-lang.modules#scala-collection-compat_2.13;2.5.0 in central
	found org.apache.sedona#sedona-sql-3.0_2.12;1.3.0-incubating in central
	found org.datasyslab#geotools-wrapper;1.3.0-27.2 in central
:: resolution report :: resolve 335ms :: artifacts dl 14ms
	:: modules in use:
	org.apache.sedona#sedona-common;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-core-3.0_2.12;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-python-adapter-3.0_2.12;1.3.0-incubating from central in [default]
	org.apache.sedona#sedona-sql-3.0_2.12;1.3.0-incubating from central in [default]
	org.checkerframework#checker-qual;3.5.0 from central in [default]
	org.datasyslab#geotools-wrapper;1.3.0-27.2 from central in [default]
	org.locationtech.jts#jts-core;1.18.2 from central in [default]
	org.postgresql#postgresql;42.2.18 from central in [default]
	org.scala-lang.modules#scala-collection-compat_2.13;2.5.0 from central in [default]
	org.wololo#jts2geojson;0.16.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   10  |   0   |   0   |   0   ||   10  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-abe53f9c-fad8-43e0-9c32-15df2fee161e
	confs: [default]
	0 artifacts copied, 10 already retrieved (0kB/6ms)

22/12/29 17:12:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [8]:
SedonaRegistrator.registerAll(spark)

True

In [15]:
sql = """SELECT "UPRN" uprn, ST_AsText(geom) geom FROM os.open_uprn_white_horse"""
uprn = pd.read_sql(sql, engine)

sql = """SELECT "postcode", ST_AsText(geom) geom FROM os.code_point_open_white_horse ORDER BY postcode"""
codepoint = pd.read_sql(sql, engine)

In [10]:
codepoint = spark.createDataFrame(codepoint)
uprn = spark.createDataFrame(uprn)

/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/carlos/miniconda3/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

## sql/api

In [26]:
uprn.createOrReplaceTempView("uprn")
codepoint.createOrReplaceTempView("codepoint")

In [29]:
t1 = pd.Timestamp.now()

sql = """
    SELECT
        A.uprn origin,
        B.postcode destination,
        ST_Distance(st_geomFromWKT(A.geom), st_geomFromWKT(B.geom)) as distance_m
    FROM
        uprn A,
        codepoint B
    WHERE
        ST_Distance(st_geomFromWKT(A.geom), st_geomFromWKT(B.geom)) <= 5000        
"""
knn = spark.sql(sql).sort(['origin', 'distance_m', 'destination']).dropDuplicates(['origin']).toPandas()

t2 = pd.Timestamp.now()
dt = t2-t1
dt

22/12/29 17:58:13 WARN JoinQuery: UseIndex is true, but no index exists. Will build index on the fly.

Timedelta('0 days 00:09:29.294203')

In [13]:
results.append(
    {'test' : 'pyspark sql', 'time': pd.Timedelta('0 days 00:09:29'), 'multiple equally distant results': False, 'able to sort equally distant': True})

In [30]:
sql = """SELECT * FROM os.knn"""
data = pd.read_sql(sql, engine)

data3 = pd.merge(data, knn, how = 'outer', on = 'origin')
data3[data3['destination_x']!=data3['destination_y']]

Empty DataFrame
Columns: [origin, destination_x, distance, destination_y, distance_m]
Index: []

# Results

In [14]:
pd.DataFrame(results).sort_values('time').drop_duplicates()

,test,time,multiple equally distant results,able to sort equally distant
9,Sklearn nearest neighbour,0 days 00:00:00.142799,False,False
4,Geopandas sjoin_nearest,0 days 00:00:01.074799,True,True
8,Pygeos strtree,0 days 00:00:02.376158,False,False
6,Shapely strtree,0 days 00:00:07.610000,False,False
2,SQL lateral 16GB,0 days 00:00:51,False,True
3,SQL lateral 2GB,0 days 00:00:51,False,True
7,Pygeos all vs all,0 days 00:01:25.121942,False,True
0,SQL distinct 16GB,0 days 00:02:57.778057,False,True
1,SQL distinct 2GB,0 days 00:03:08,False,True
5,Shapely all vs all,0 days 00:06:42.439090,False,True
10,pyspark sql,0 days 00:09:29,False,True