# imports

In [1]:
import geopandas as gpd
import pandas as pd
import shapely as sp
import pygeos as pg
import numpy as np
from sqlalchemy import create_engine
import os

In [ ]:
user = input()
password = input()

In [3]:
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/gis')

# data

In [4]:
uprn = pd.read_csv('/home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/osopenuprn_202204_csv/osopenuprn_202203.csv')

In [6]:
conn = engine.raw_connection()
cursor = conn.cursor()
sql = """CREATE SCHEMA os"""
cursor.execute(sql)
conn.commit()
conn.close()

In [7]:
uprn.head(0).to_sql('os_open_uprn', 
                con=engine, 
                schema='os', 
                if_exists='replace', 
                method='multi', 
                index=False)

0

In [ ]:
cd = f"""
psql "postgresql://{user}:{password}@localhost:5432/gis" -c "\COPY os.os_open_uprn FROM '/home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/osopenuprn_202204_csv/osopenuprn_202203.csv' DELIMITER ',' CSV HEADER";  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" /home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/codepo_gpkg_gb/data/codepo_gb.gpkg -nln "codepoint_points";  
ogr2ogr -a_srs EPSG:27700 -overwrite -f "PostgreSQL" PG:"host=localhost schemas=os user={user} dbname=gis password={password}" /home/carlos/Dropbox/projects/nearest_neighbour/nearest_neighbour_to_upload/bdline_gpkg_gb/Data/bdline_gb.gpkg -nln "bdline";
    """
print(os.popen(cd).read())

In [75]:
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    ALTER TABLE os.os_open_uprn ADD COLUMN geom geometry('POINT', 27700);
    
    UPDATE os.os_open_uprn SET geom = ST_SetSRID(ST_Point("X_COORDINATE","Y_COORDINATE"), 27700);
    
    CREATE INDEX uprn_gix ON os.os_open_uprn USING GIST(geom);
    
    DROP TABLE IF EXISTS os.open_uprn_white_horse ;
    
    SELECT
        A.*
    INTO
        os.open_uprn_white_horse
    FROM
        os.os_open_uprn A,
        ons.local_authorities B
    WHERE
        B.lad19nm = 'Vale of White Horse'
        AND ST_intersects(A.geom, B.geom);
    
    CREATE INDEX uprn_wh_gis ON os.open_uprn_white_horse USING gist(geom);
    
    DROP TABLE IF EXISTS os.code_point_open_white_horse;
    
    SELECT
        A.*
    INTO
        os.code_point_open_white_horse
    FROM
        os.codepoint_points A,
        ons.local_authorities B
    WHERE
        B.lad19nm = 'Vale of White Horse'
        AND ST_intersects(A.geom, B.geom);
    
    CREATE INDEX cp_wh_gis ON os.code_point_open_white_horse USING gist(geom);"""

cursor.execute(sql)
conn.commit()
conn.close()

# sql nearest neighbour (distinct)

In [4]:
%%time
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn;
    WITH knn AS (
        SELECT DISTINCT ON (A."UPRN")
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A,
            os.code_point_open_white_horse as B
        WHERE
            ST_DWithin(A.geom, B.geom, 5000)
        ORDER BY
            A."UPRN",
            ST_Distance(A.geom, B.geom) ASC)
    SELECT * INTO os.knn FROM knn 
"""
cursor.execute(sql)
conn.close()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "carlos"
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "carlos"

(Background on this error at: https://sqlalche.me/e/14/e3q8)

# sql nearest neighbour (lateral)

In [31]:
%%time
#connection
conn = engine.raw_connection()
cursor = conn.cursor()

#execute sql
sql="""
    DROP TABLE IF EXISTS os.knn_l;
    WITH knn AS (
        SELECT 
            A."UPRN" as origin,
            B."postcode" as destination,
            round(ST_Distance(A.geom, B.geom)::numeric,2) as distance
        FROM
            os.open_uprn_white_horse as A
        CROSS JOIN LATERAL (
            SELECT
                B."postcode",
                B.geom
            FROM
                os.code_point_open_white_horse as B
            WHERE
                ST_DWithin(A.geom, B.geom, 5000)
            ORDER BY
                ST_Distance(A.geom, B.geom) ASC
            LIMIT
                1   
        ) B
        ORDER BY
            A."UPRN"
    )
    SELECT * INTO os.knn_l FROM knn 
"""
cursor.execute(sql)
conn.close()

CPU times: user 693 µs, sys: 3.81 ms, total: 4.5 ms
Wall time: 50.1 s

# python nearest neighbour - shapely (distance)

In [62]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

In [63]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb, maxdist):
    
    #combine, filter, compute distance, select nearest

    combinations = [
        geomb[geomb.intersects(i.buffer(maxdist))].distance(i).idxmin()
        for i in geoma
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.iteritems()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest
    
#get ids of nearest neighbours
#knn = nearest_neighbour(uprn.geometry, codepoint.geometry, 5000)

In [64]:
%%time
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry, 5000)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

CPU times: user 7min 5s, sys: 15.9 ms, total: 7min 5s
Wall time: 7min 5s

In [65]:
knn.sort_values('origin')

             origin destination  distance (m)
73553   10009422834     SN7 8DN    683.701029
27      10009424635     RG178RE   1700.346629
45527   10009424704     SN6 7PZ    145.103676
53245   10014020502     RG177UU     24.020824
81612   10014020505     OX129QW     10.816654
...             ...         ...           ...
3090   200002899551     SN7 8LE     35.057096
36969  200002899553     SN7 8NL     43.416587
19379  200002967433     OX136BH      4.980803
53767  200002967434     OX136RP     49.203658
61300  200002967435     SN7 7SY    115.572488

[82461 rows x 3 columns]

# python nearest neighbour - shapely (strtree)

In [32]:
from shapely.strtree import STRtree

In [33]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse """
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse """
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

In [34]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    #origin
    origin_id = [i[0] for i in geoma.iteritems()]
    #tree
    geomb = geomb.to_list()
    geomb_id = [id(i) for i in geomb]
    tree = STRtree(geomb)
    nearest = [id(tree.nearest(i)) for i in geoma]
    #merging
    dest = pd.DataFrame({'geomb_id': geomb_id, 'geom': geomb}).reset_index().set_index('geomb_id')
    combinations =dest.loc[nearest]
    
    nearest = pd.DataFrame(
        {
            'origin': origin_id,
            'destination': combinations['index'].to_list(),
            'distance': [i.distance(combinations['geom'].iloc[n]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest
    
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

In [35]:
%%time
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

CPU times: user 19min 23s, sys: 67.7 ms, total: 19min 23s
Wall time: 19min 23s

In [36]:
#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

In [37]:
knn.sort_values('origin')

             origin destination  distance (m)
73553   10009422834     SN7 8DN    683.701029
27      10009424635     RG178RE   1700.346629
45527   10009424704     SN6 7PZ    145.103676
53245   10014020502     RG177UU     24.020824
81612   10014020505     OX129QW     10.816654
...             ...         ...           ...
3090   200002899551     SN7 8LE     35.057096
36969  200002899553     SN7 8NL     43.416587
19379  200002967433     OX136BH      4.980803
53767  200002967434     OX136RP     49.203658
61300  200002967435     SN7 7SY    115.572488

[82461 rows x 3 columns]

# python pygeos (distance)

In [38]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

In [39]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #combine, filter, compute distance, select nearest

    combinations = [
        np.argmin(pg.measurement.distance(i, geomb2))
        for i in geoma2
    ]    
    
    nearest = pd.DataFrame(
        {
            'origin': [i[0] for i in geoma.iteritems()],
            'destination': combinations,
            'distance': [i.distance(geomb[combinations[n]]) for n,i in enumerate(geoma)]
        }
    )
                    
    return nearest
    
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

In [40]:
#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

In [41]:
knn.head()

        origin destination  distance (m)
0  10014028141     OX129LU    584.705909
1  10093199931     OX119HS     24.880420
2  10090580105     OX119HG    264.507561
3  10014077971     SN6 8LZ     59.548300
4  10014022973     OX129NE    144.810221

In [42]:
knn.sort_values('origin')

             origin destination  distance (m)
73553   10009422834     SN7 8DN    683.701029
27      10009424635     RG178RE   1700.346629
45527   10009424704     SN6 7PZ    145.103676
53245   10014020502     RG177UU     24.020824
81612   10014020505     OX129QW     10.816654
...             ...         ...           ...
3090   200002899551     SN7 8LE     35.057096
36969  200002899553     SN7 8NL     43.416587
19379  200002967433     OX136BH      4.980803
53767  200002967434     OX136RP     49.203658
61300  200002967435     SN7 7SY    115.572488

[82461 rows x 3 columns]

In [43]:
%%time
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

CPU times: user 1min 24s, sys: 16 ms, total: 1min 24s
Wall time: 1min 24s

# python pygeos (strtree) nearest

In [44]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

In [45]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #tree
    tree = pg.STRtree(geomb2)
    nearest = tree.nearest(geoma2)
    distance = pg.measurement.distance(geoma2, geomb2[nearest[1]])
    
    
    nearest = pd.DataFrame(
        {
            'origin': nearest[0],
            'destination': nearest[1],
            'distance': distance
        }
    )
                    
    return nearest
    
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

In [46]:
#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

In [47]:
knn.head()

        origin destination  distance (m)
0  10014028141     OX129LU    584.705909
1  10093199931     OX119HS     24.880420
2  10090580105     OX119HG    264.507561
3  10014077971     SN6 8LZ     59.548300
4  10014022973     OX129NE    144.810221

In [48]:
knn.sort_values('origin')

             origin destination  distance (m)
73553   10009422834     SN7 8DN    683.701029
27      10009424635     RG178RE   1700.346629
45527   10009424704     SN6 7PZ    145.103676
53245   10014020502     RG177UU     24.020824
81612   10014020505     OX129QW     10.816654
...             ...         ...           ...
3090   200002899551     SN7 8LE     35.057096
36969  200002899553     SN7 8NL     43.416587
19379  200002967433     OX136BH      4.980803
53767  200002967434     OX136RP     49.203658
61300  200002967435     SN7 7SY    115.572488

[82461 rows x 3 columns]

In [49]:
%%time
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry)

#get values for ids
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[knn['destination']]['postcode'].to_list(),
    distance = knn.distance.to_list()
    )
knn.columns = ['origin', 'destination', 'distance (m)']

CPU times: user 2.08 s, sys: 7 µs, total: 2.08 s
Wall time: 2.08 s

# python pygeos (strtree) knn

In [50]:
sql = """SELECT "UPRN" as uprn, geom FROM os.open_uprn_white_horse"""
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

In [51]:
#function that returns index of nearest geometry in b for every geometry in a
def nearest_neighbour(geoma, geomb, distance):
    
    geoma2 = pg.io.from_shapely(geoma)
    geomb2 = pg.io.from_shapely(geomb)
    #tree
    tree = pg.STRtree(geomb2)
    nearest = tree.nearest_all(geoma2, distance, True)    
    
    nearest = pd.DataFrame(
        {
            'origin': nearest[0][0],
            'destination': nearest[0][1],
            'distance': nearest[1]
        }
    )
                    
    return nearest
    
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry, 1000000)

In [52]:

#get values for ids
knn = pd.DataFrame(
    {
        'uprn' : uprn.iloc[knn['origin']]['uprn'].to_list(),
        'destination' : codepoint.iloc[knn['destination']]['postcode'].to_list(),
        'distance' : knn.distance.to_list()
    }
    )
knn.columns = ['origin', 'destination', 'distance (m)']

In [53]:
knn.head()

        origin destination  distance (m)
0  10014028141     OX129LU    584.705909
1  10093199931     OX119HS     24.880420
2  10090580105     OX119HG    264.507561
3  10014077971     SN6 8LZ     59.548300
4  10014022973     OX129NE    144.810221

In [54]:
knn.sort_values('origin')

             origin destination  distance (m)
76588   10009422834     SN7 8DN    683.701029
27      10009424635     RG178RE   1700.346629
46420   10009424704     SN6 7PZ    145.103676
54707   10014020502     RG177UU     24.020824
85824   10014020505     OX129QW     10.816654
...             ...         ...           ...
3094   200002899551     SN7 8LE     35.057096
37730  200002899553     SN7 8NL     43.416587
19990  200002967433     OX136BH      4.980803
55248  200002967434     OX136RP     49.203658
62940  200002967435     SN7 7SY    115.572488

[86673 rows x 3 columns]

In [55]:
%%time
#get ids of nearest neighbours
knn = nearest_neighbour(uprn.geometry, codepoint.geometry, 1000000) 

#get values for ids
knn = pd.DataFrame(
    {
        'uprn' : uprn.iloc[knn['origin']]['uprn'].to_list(),
        'destination' : codepoint.iloc[knn['destination']]['postcode'].to_list(),
        'distance' : knn.distance.to_list()
    }
    )
knn.columns = ['origin', 'destination', 'distance (m)']

CPU times: user 4.32 s, sys: 4 ms, total: 4.32 s
Wall time: 4.32 s

# sklearn example

In [56]:
from sklearn.neighbors import NearestNeighbors

In [60]:
%%time
#import data
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

#get coordinates from geodataframes
uprn_xy = list(zip(uprn.geometry.x, uprn.geometry.y))
codep_xy =  list(zip(codepoint.geometry.x, codepoint.geometry.y))

#get indexes for nearest neighbour
neigh = NearestNeighbors(n_neighbors=1, radius=5000)
neigh.fit(codep_xy)
knn = neigh.kneighbors(uprn_xy)

#get values for indexes
knn = uprn[['UPRN']].assign(
    destination = codepoint.iloc[[i[0] for i in knn[1]]]['postcode'].to_list(),
    distance = knn[0]
    )
knn.columns = ['origin', 'destination', 'distance (m)']

CPU times: user 1.33 s, sys: 4.03 ms, total: 1.33 s
Wall time: 1.37 s

In [61]:
knn.sort_values('origin')

             origin destination  distance (m)
73553   10009422834     SN7 8DN    683.701029
27      10009424635     RG178RE   1700.346629
45527   10009424704     SN6 7PZ    145.103676
53245   10014020502     RG177UU     24.020824
81612   10014020505     OX129QW     10.816654
...             ...         ...           ...
3090   200002899551     SN7 8LE     35.057096
36969  200002899553     SN7 8NL     43.416587
19379  200002967433     OX136BH      4.980803
53767  200002967434     OX136RP     49.203658
61300  200002967435     SN7 7SY    115.572488

[82461 rows x 3 columns]

# pyspark

In [3]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator
from sedona.utils.adapter import Adapter
from sedona.core.spatialOperator import KNNQuery
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from sedona.core.enums import IndexType

In [ ]:
spark = (SparkSession.
    builder.
    appName('appName').
    config("spark.serializer", KryoSerializer.getName).
    config("spark.kryo.registrator", SedonaKryoRegistrator.getName).
    config('spark.jars.packages',
           'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.0.0-incubating,'
           'org.datasyslab:geotools-wrapper:geotools-24.0,'
           'org.postgresql:postgresql:42.2.20,'
    ).
    getOrCreate()
)

In [5]:
SedonaRegistrator.registerAll(spark)

True

In [8]:
sql = """SELECT "UPRN", geom FROM os.open_uprn_white_horse"""
uprn = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')
sql = """SELECT "postcode", geom FROM os.code_point_open_white_horse"""
codepoint = gpd.GeoDataFrame.from_postgis(sql, engine, geom_col='geom')

In [9]:
codepoint = spark.createDataFrame(codepoint)
postcode_rdd = Adapter.toSpatialRdd(codepoint, 'geom')

In [10]:
postcode_rdd.analyze()

True

In [12]:
%%time

k = 1 ## K Nearest Neighbors
using_index = True
build_on_spatial_partitioned_rdd = False
postcode_rdd.buildIndex(IndexType.RTREE, build_on_spatial_partitioned_rdd)
result = [KNNQuery.SpatialKnnQuery(postcode_rdd, i, k, using_index) for i in uprn['geom']]

CPU times: user 6min 5s, sys: 2min, total: 8min 6s
Wall time: 1h 49min 49s

In [11]:
%%time

k = 1 ## K Nearest Neighbors
using_index = False

result = [KNNQuery.SpatialKnnQuery(postcode_rdd, i, k, using_index) for i in uprn['geom']]

CPU times: user 6min 3s, sys: 2min 3s, total: 8min 6s
Wall time: 1h 48min 46s